{% extends "sitewebapp/base.html" %} {% load static %}{% block content %}
    <div style="margin: 10px; text-align: center;">
  <img
    src="{% static 'apd2c.jpg' %}"
    alt="..."
    style="
      margin: 0 auto;
      height: auto;
      max-width: 1000px;
      width: 95%;
      border-radius: 8px;
      box-shadow: 6px 6px 9px #000;
      border: 2px solid white;
    "
    data-toggle="animation"
    data-animateonscroll="repeat"
    data-animation="fadeInRight"
    class="fa-1x slow"
  />
</div>
<div style="margin: 20px;">
  <div
    class="card"
    style="
      text-align: center;
      margin: 20px auto;
      max-width: 1100px;
      border-radius: 8px;
      box-shadow: 6px 6px 9px #000;
    "
    data-toggle="animation"
    data-animateonscroll="repeat"
    data-animation="fadeInLeft"
    class="fa-1x slow"
  >
    <div class="card-body" style="text-align: center; margin: 0 auto;">
      <h1 class="heading">APD II</h1>
      <p>Team CAP: 32</p>
      <p>Dates : 19th 20th & 21st March</p>
      <p>Event Mode : Online</p>
      <p>Format: 3 v 3 Asian Parliamentary</p> 
      <p><i>Asian Parliamentary debate is one of the first outreach programs of the Debating society NIT Durgapur, and in our second edition, we're coming much bigger and better. This time we are expanding not only with regards to participants but also adjudicators from various parts of India. The prizes have been upped, as have been stakes. <br/>
So come. Be a part of the action. Be a part of the magic. Battle it out and hold your own among the brightest minds and sharpest tongues on the debating circuit. <br/>
The event is based upon the format of an Asian form of parliamentary debate, in which each team comprises three participants, and all the teams are given one of the two allocations, i.e. either the government or the opposition. The government consists of the Prime Minister, deputy prime minister, and the Whip whereas the opposition has The Leader of the Opposition, the Deputy Leader of the Opposition, and the Opposition Whip. Then a government team and an opposition team are paired up against each other and given three topics out of which they had to rank in the order of preference, and then they are given one topic based on the ranking preference of each team. Once the topics is decided debaters have to speak in an order within due time. <br/> 
The Debating Society, NIT Durgapur, hence is proud to present before you APD II - the second edition of the Asian Parliamentary Debate.</i>
</p>
<p>In case of any queries, <br/>
8017449727- Mahima Kriti <br/>
9330317032- Shashwat Gupta <br/>
Email ID: debatingsociety.nitdgp@gmail <br/>
</p>

<p><b>REGISTER NOW<br/></b></p>

      <a href="https://rb.gy/1imuq9" class="btn btn-outline-light btn-rounded" style="margin: 5px;">
    Institutional Team
  </a>
  
  <a href="https://rb.gy/pitm5t" class="btn btn-outline-light btn-rounded" style="margin: 5px;">
    Non-Institutional Team
  </a>

  <a href="https://rb.gy/by11yl" class="btn btn-outline-light btn-rounded" style="margin: 5px;">
    Independent adjudicator
  </a>
  
    </div>
  </div>
</div>
{% endblock %}
