{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Debsocnitdgp</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@500&family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="{% static 'debsoclogo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile_card.css' %}" />
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}" />
    <style>
      body {
        overflow: -moz-scrollbars-none;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        font-family: "Quicksand", sans-serif;
      }
      body::-webkit-scrollbar {
        display: none;
      }

      .card {
        background-color: #007180;
        color: #fff;
      }
      .headbox {
        width: 300px;
        margin: 10px auto;
        margin-top: 50px;
        padding: 5px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
      .heading {
        text-transform: uppercase;
        font-family: "Bebas Neue", cursive;
        font-size: 32px;
        text-align: center;
        color: #fff;
      }
      .navbar-brand {
        margin: 0px;
        padding: 0px;
        font-size: 26px;
        font-family: "Bebas Neue", cursive;
        color: #fff;
      }
      .navbar-toggler {
        margin-right: 0;
        padding: 0;
      }
    </style>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Bootstrap -->
    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
    /> -->
    <!-- Material Design for Bootstrap -->
    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css"
      rel="stylesheet"
    /> -->
  </head>

  <body style="background-color: #000;" >
    <div id="loading">
      <img class="img-fluid" src="{% static 'DEBSOClogowhitePNG.png' %}" />
    </div>
    <!--Navbar-->
    <nav
      class="navbar navbar-expand-lg navbar-dark sticky-top"
      style="
        background-color: #007180;
        box-shadow: 0px 6px 9px #000;
        text-align: center;
      "
    >
      <div class="container-fluid">
        <a href="{% url 'index' %}">
        <img
          class="img-fluid"
          style="width: 27px;"
          src="{% static 'DEBSOClogowhitePNG.png' %}"
        />
        </a>
        <a href="{% url 'index' %}"><h2
          style="text-align: center;"
          class="navbar-brand"
          style="font-family: 'Bebas Neue', cursive;"
        >
          &nbsp;&nbsp;&nbsp;&nbsp;The Debating Society&nbsp;&nbsp;&nbsp;&nbsp;
        </h2></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul
            class="navbar-nav mr-auto mb-2 mb-lg-0"
            style="text-align: center;"
          >
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event_home' %}">Events</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_home' %}">Blog</a>
            </li> {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'members' %}">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Navbar Ended-->

    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}

    <footer class="text-white" style="background-color: #007180;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row" style="margin: 20px;">
          <!--Grid column-->
          <div
            class="col-md-8 col-xs-12"
            style="
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <div>
              <h5 class="text-uppercase">CONTACT US</h5>

              <p>
                You can reach us out at any time. <br />
                Email us at: <a>debatingsociety.nitdgp@gmail.com</a> <br />
                Call or message us at: 8017449727
              </p>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div> -->
          <!--Grid column-->

          <!--Grid column-->
          <div
            class="col-md-4 col-xs-12"
            style="
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <div>
              <h5 class="text-uppercase">VISIT US AT</h5>

              <ul class="list-unstyled">
                  &nbsp;&nbsp;
                  <a href="https://www.facebook.com/debatingsociety3103.nitd/" class="fa fa-facebook text-white" aria-hidden="true" style="font-size: 21px;"></a>
                  &nbsp;&nbsp;
                  <a href="https://www.instagram.com/debsocnitd/" class="fa fa-instagram text-white" aria-hidden="true" style="font-size: 21px;"></a>
                  &nbsp;&nbsp;
                  <a href="https://www.linkedin.com/company/debating-society-nit-durgapur/about/" class="fa fa-linkedin text-white" aria-hidden="true" style="font-size: 21px;"></a>
                  &nbsp;&nbsp;
              </ul>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="
          background-color: rgba(0, 0, 0, 0.2);
          color: rgba(255, 255, 255, 0.6);
        "
      >
        © 2020 Copyright:
        <a class="text-white" href="{% url 'index' %}"> Debsocnitdgp</a>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- jQuery -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- Popper.js -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script> -->

    <!-- Bootstrap -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script> -->

    <!-- Material Design for Bootstrap -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script> -->
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      // $(document).ready(function(){
      // 	$('div#loading').removeAttr('id');
      // });
      //var preloader = document.getElementById("loading");
      // window.addEventListener('load', function(){
      // 	preloader.style.display = 'none';
      // 	})

      // function myFunction() {
      //   preloader.style.display = "none";
      // }
      $(window).load(function () {
        setTimeout(function () {
          $("#loading").fadeOut("slow");
        }, 800);
      });
    </script>
  </body>
</html>
