{% extends "sitewebapp/base.html" %} {% block content %}
<div class="text-center">
  <div class="headbox">
    <h1 class="heading">Our Blog</h1>
  </div>
  <div
    style="padding: 7px;"
    data-toggle="animation"
    data-animateonscroll="repeat"
    data-animation="slideInUp"
    class="fa-1x slow"
  >
    <div style="color: #fff;">
      <div style="margin: 10px auto; max-width: 1100px; text-align: center;">
        <p>
          We're a community on a journey, Exploring new ideas and different
          perspectives along the way. One way to do so is by listening from
          people around you. Nowadays with the internet, people could be miles
          away, yet close to you. Blogging connects similar thinkers and
          communities worldwide while letting your thoughts and ideas come to
          light. As a home for open and thoughtful expressions, we let unleash
          your imagination and feelings into a work of art. We encourage sharing
          heartfelt stories, things that impact your daily life or stuff that
          just piqued your curiosity. As we give you an opportunity to showcase
          your thoughts and creative skills to a large number of audience.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for i in blogs %}

    <div class="col-md">
      <div
        class="card"
        style="width: 350px; margin: 20px auto;"
        data-toggle="animation"
        data-animateonscroll="repeat"
        data-animation="slideInUp"
        class="fa-1x slow"
      >
        {% if i.image_url %}
        <img src="{{i.image_url}}" class="card-img-top" alt="..." />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>

          <p>{{i.created_on}}</p>
          <p>{{i.author}}</p>
          <a
            href="{% url 'blog_view' i.id %}"
            class="btn btn-outline-white btn-rounded"
            style="color: #fff;"
            >Explore</a
          >
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{%endblock%}
