<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Debsocnitdgp</title>
  </head>
  <body>
  <div style="text-align:center;">
  <h3>Hi There! We hope everyone is doing well!</h3>
  <h4>Fillup the form below (Contact rishav in case of an issue) :</h4>
  <form method="POST" class="form-horizontal form_middle" enctype='multipart/form-data' action="." style="text-align:center;">
  {% csrf_token %}
  {{cform.as_p}}
  <input type="submit" value="Upload"/>
  </form>
  <div>
  </body>
<html>