{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'assets7/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'assets7/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets7/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Debsoc</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'members' %}">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'cmember' %}">Create</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background: url(&quot;{% static 'assets7/img/avatars/debsoc.png' %}&quot;) center / contain;"></div>
                <div class="about-me">
                    <p>Hello! This is the Debating society member account panel.<br>Please Create an account before changing any info(Contact Apurva in case of any problem).</p><a class="btn btn-outline-primary" role="button" href="{% url 'index' %}">Home</a>
                </div>
            </div>
            <div class="container pb-5 pt-5">
                <div class="col-md-9 col-xl-8 ml-auto mr-auto" style="width: 1329px;">
                    
                        <div class="align-items-center form-row">
                            <div class="col-sm form-group mb-3"><input id="username" class="form-control form-control ps-4 pe-4 rounded-pill" type="text" name="search" placeholder="Search Username..."></div>
                            <div class="col-sm-auto text-end form-group mb-3"><button onclick="search();" class="btn btn-primary ps-4 pe-4 rounded-pill"><i class="fa fa-search"></i></button></div>
                        </div>
                    
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'ss6.jpeg' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'ss5.jpeg' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'ss4.jpeg' %}"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Our Team</h3><a href="{% url 'members' %}"><button href="{% url 'members' %}" class="btn btn-outline-primary btn-lg" type="button">See more...</button></a>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <p style="border-right: 5px;border-left: 5px;">The Debating Society, NIT Durgapur, is an ardent believer of a wholesome development where students would actively involve themselves in issues concerning social interest and upsurge. As responsible citizens, we feel the importance to amplify voices when the nation requires our support and opinions. We look forward to participation from the youth wing with solutions to the massive lockjaws with intellect, humanity and feasibility. Each consecutive step of our club attempts to bring a stir towards positive outcomes in the society and provide a platform to creative ideologies piloting progress. We believe the youth of the hour can bring a change towards positivity and stability only when we are vigilant, receptive and equally responsive in raising our voices and directing our thought processes towards the present issues concerning the society.</p>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="{% url 'about' %}">About Us</a><a href="{% url 'about' %}">Contact Us</a><a href="{% url 'members' %}">Team</a></div>
            <div class="social-icons"><a href="https://www.facebook.com/debatingsociety3103.nitd/"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/debsocnitd/"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script>
        function search()
        {
            var i=0;
            var uname =document.getElementById("username").value;
            console.log(uname);
            j='{{ token }}'
            var newloc="../editprofile/"+uname+"/"+j;
            window.location.replace(newloc);
            
        }
    </script>
    
    <script src="{% static 'assets7/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'assets7/js/theme.js' %}"></script>
</body>

</html>