{% extends "sitewebapp/base.html" %} {% block content %}
<div style="margin: 10px; text-align: center;">
  <img
    src="{{eventsingular.poster.url}}"
    alt="..."
    style="
      margin: 0 auto;
      height: auto;
      max-width: 1000px;
      width: 95%;
      border-radius: 8px;
      box-shadow: 6px 6px 9px #000;
      border: 2px solid white;
    "
    data-toggle="animation"
    data-animateonscroll="repeat"
    data-animation="fadeInRight"
    class="fa-1x slow"
  />
</div>
<div style="margin: 20px;">
  <div
    class="card"
    style="
      text-align: center;
      margin: 20px auto;
      max-width: 1100px;
      border-radius: 8px;
      box-shadow: 6px 6px 9px #000;
    "
    data-toggle="animation"
    data-animateonscroll="repeat"
    data-animation="fadeInLeft"
    class="fa-1x slow"
  >
    <div class="card-body" style="text-align: center; margin: 0 auto;">
      <h1 class="heading">{{eventsingular.event_name}}</h1>
      <p>Held on : {{eventsingular.event_datetime}}</p>
      <p>Event Mode : {{eventsingular.event_mode}}</p>
      <p>{{eventsingular.event_description}}</p>
      
    </div>
  </div>
</div>

{%endblock%}
