{% extends "sitewebapp/base.html" %} {% block content %}
<div class="text-center">
  <div class="headbox">
    <h1 class="heading">Our Events</h1>
  </div>
  <div
    style="padding: 7px;"
    data-toggle="animation"
    data-animateonscroll="repeat"
    data-animation="fadeInUp"
    class="fa-1x slow"
  >
    <div style="color: #fff;">
      <div style="margin: 10px auto; max-width: 1100px; text-align: center;">
        <p>
          The Debating Society focuses on events that are sure to enrich and
          instil the passion of debate and discussion in students and allow them
          to present their ideas on a public forum. We aim to provide a platform
          for people to voice their opinions and to encourage more people to
          start meaningful discussions. Some of our most ambitious projects till
          date would be hosting the first edition of the Asian Parliamentary
          Debate in NIT Durgapur and conducting Kartavya, [more details about
          Kartavya]. We also regularly hold events like Open Mic and our
          flagship event Reverberate, A Public Speaking Workshop where we offer
          pointers and tips to students who want to begin their journey in the
          public speaking forum.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for i in events %}

    <div class="col-md">
      <div
        class="card"
        style="
          width: 350px;
          margin: 20px auto;

          box-shadow: 3px 3px 4px #000;
          border-radius: 8px;
        "
        data-toggle="animation"
        data-animateonscroll="repeat"
        data-animation="slideInUp"
        class="fa-1x slow"
      >
        {% if i.poster %}
        <img src="{{i.poster.url}}" class="card-img-top" alt="..." />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p>{{i.event_name}}</p>
          <p>{{i.event_datetime}}</p>
          <p>{{i.event_mode}}</p>
          <a
            href="{% url 'event_view' i.id %}"
            class="btn btn-outline-white btn-rounded"
            style="color: #fff;"
            >Explore</a
          >
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{%endblock%}
