#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 99999;
  text-align: center;
  margin: auto auto;
}
#loading img {
  width: 100px;
  height: auto;
  justify-content: center;
  align-content: center;
  margin-top: 40%;
}
