#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0.6, 0.6, 0.6);
    z-index: 99999;
    text-align: center;
    margin: auto auto;
}

#loading img {
    position: absolute;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -20px;
}

.texta {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    resize: none;
    height: 100px;
}

.texta:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    resize: none;
    height: 100px;
    outline: none;
}

.inputa {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    resize: none;
}

.inputa:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    resize: none;
    outline: none;
}

.leaderboard {
    width: 95%;
    max-width: 400px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.leaderboard::-webkit-scrollbar {
    display: none;
}

.lbar {
    height: 40px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid pink;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
}

.audi-wrap {
    min-height: 90vh;
    width: 100vw;
    padding: 70px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2;
    font-family: "Bebas Neue", cursive;
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}

@import 'https://fonts.googleapis.com/css?family=Dosis';
.btnn {
    display: block;
    margin-bottom: 0;
    touch-action: manipulation;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 18px center;
    border: 1px solid #aa0069;
    border-radius: 6px !important;
    white-space: nowrap;
    outline: none;
    color: #00b627;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    width: auto;
    white-space: pre-wrap;
    padding: 10px 1.1em;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: "Dosis", sans-serif;
}

@media (min-width: 480px) {
    .btnn {
        width: auto;
    }
}

.btnn:hover {
    -webkit-animation: 0.01s infinite alternate;
    animation: 0.01s infinite alternate;
    box-shadow: 0px 0px 35px rgba(204, 0, 136, 0.651), 0 0 11px rgba(204, 0, 187, 0.3), 0 0 2px rgba(255, 0, 255, 0.3), 0 0 1px rgba(180, 0, 204, 0.3), 0 0px 17px rgba(156, 0, 204, 0.3), inset 0px 0 17px rgba(204, 0, 109, 0.3), inset 0px 0 30px rgba(204, 0, 170, 0.3);
}