.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: rgb(10, 10, 10);
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 20px 1px #ff0157;
  border-radius: 15px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: rgb(25, 25, 25);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(25, 25, 25);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px rgb(25, 25, 25);
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #000;
  text-transform: capitalize;
}
.our-team .name {
  color: #eff5fc;
}

.our-team .social {
  width: 100%;

  padding: 0;
  margin: 0;
  background-color: rgb(20, 20, 20);
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
  height: 20px;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #eff5fc;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #000000;
  background-color: #a30338;
}
